html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* height: 1050px; */
  background-image: url('https://images.all-free-download.com/images/graphiclarge/astronomy_background_comet_constellation_dark_endless_598901.jpg');
  /* background-color: darkturquoise; */
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

li {
  list-style: none;
  margin-bottom: 30px;
}

img {
  display: block;
  margin-bottom: 0px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  justify-content: space-between;
  margin-bottom: 40px;
}
img {
  cursor: pointer;
}
.stats {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  width: 300px;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
i {
  margin-right: 5px;
}
p {
  cursor: pointer;
  color: cadetblue;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 0px;
  transition: color 0.3s ease-in-out;
}
p + p {
  margin-left: 7px;
}

p:hover {
  color: blueviolet;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  align-self: center;
  width: 590px;
  height: 55px;
  font-size: 45px;
  margin: 0px;
}
.load-more,
.submit {
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  display: inline-block;
  padding: 0.35em 1.2em;

  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}
.load-more.active {
  opacity: 1;
}
.load-more:hover,
.submit:hover {
  color: #000000;
  background-color: #ffffff;
}
.load-more:focus,
.submit:focus {
  outline: none;
}

.load-more {
  margin-left: 45%;
  height: 55px;
  opacity: 0;
}
.submit {
  border: 0.1em solid #ffffff;
  margin-left: 20px;
  height: 55px;
  width: 115px;
  margin-bottom: 0px;
}

.scroll-up {
  position: fixed;
  right: 85px;
  bottom: 85px;
  z-index: 1000;
  width: 25px;
  height: 25px;
  color: #d3d3d4;
  cursor: pointer;
  visibility: hidden;

  opacity: 0;
  transition: 0.2s;
  transform: translateY(25px);
}

.scroll-up::before {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 40px;
  content: '↑';
  transform: translate(38px, 35px);
  /* transform: translateX(20px); */
}
.scroll-up:hover {
  color: orange;
}

.scroll-up--active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.scroll-up__svg {
  fill: none;
  box-sizing: border-box;
  stroke: orange;
  stroke-width: 4px;
  transition: 0.2s;
}
